<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.dao.PartPackDao">
    <resultMap id="BaseResultMap" type="com.example.demo.entity.ProductInfoMap">
<!--        <result column="id" jdbcType="INTEGER" property="id" />-->
        <result column="钢卷号" property="packid" />
        <result column="日期" property="confirmDate" />
        <result column="时间" property="factoryProductid" />
        <result column="母卷号" property="factoryProductid" />
        <result column="并包号" property="unitedPackid" />
        <result column="捆包卷数" property="factoryProductid" />
        <result column="堆垛区" property="factoryProductid" />
        <result column="产品外径" property="factoryProductid" />
        <result column="产品内径" property="factoryProductid" />
        <result column="产品宽度" property="factoryProductid" />
        <result column="品名" property="productTypeName" />
        <result column="标准" property="factoryProductid" />
        <result column="规格" property="spec" />
        <result column="牌号" property="shopsign" />
        <result column="毛重增加" property="factoryProductid" />
        <result column="件数" property="quantity" />
        <result column="炉号" property="factoryProductid" />
        <result column="机组" property="machineId" />
        <result column="质量等级" property="qualityGradeName" />
        <result column="收货单位代号" property="factoryProductid" />
        <result column="收货单位名称" property="factoryProductid" />
        <result column="收货备注" property="factoryProductid" />
        <result column="客户零件号" property="factoryProductid" />
        <result column="客户零件名称" property="factoryProductid" />
        <result column="检查员" property="confirmPerson" />
        <result column="净重" property="factoryProductid" />
        <result column="捆包号" property="packid" />
        <result column="钢厂资源号" property="factoryProductid" />
        <result column="堆垛托盘号" property="factoryProductid" />
        INSERT INTO "宝钢数据库表" VALUES (#{packid}, #{confirmDate}, #{factoryProductid}, #{factoryProductid}, #{unitedPackid}, #{quantity}, #{qualityGradeNam}, #{confirmDate}, #{machineId}, #{productTypeName}, #{packingTypeId}, #{factoryProductid}, #{unitedPackId}, #{partId}, #{putinWeight}, #{mwrapid}, #{confirmPerson}, #{grossWeight}, #{netWeight}, #{deep}, #{width}, #{length});

    </resultMap>


    <select id="queryPartPack" parameterType="java.lang.String" resultMap="BaseResultMap">
        select * from productInfo where packId = #{packId}
    </select>

    <insert id="insertPartPack" parameterType="com.example.demo.entity.ProductInfoMap">
        /*INSERT INTO mes.productinfo(id, packId, spec, productTypeId, shopsign, quantity, qualityGradeName, confirmDate, machineId, productTypeName, packingTypeId, factoryProductid, unitedPackId, partId, putinWeight, mwrapid, confirmPerson, grossWeight, netWeight, deep, width, length)
                            VALUES (#{id}, #{packId}, #{spec}, #{productTypeId}, #{shopsign}, #{quantity}, #{qualityGradeNam}, #{confirmDate}, #{machineId}, #{productTypeName}, #{packingTypeId}, #{factoryProductid}, #{unitedPackId}, #{partId}, #{putinWeight}, #{mwrapid}, #{confirmPerson}, #{grossWeight}, #{netWeight}, #{deep}, #{width}, #{length});
    */
        INSERT INTO "宝钢数据库表" VALUES (#{id}, #{packId}, #{spec}, #{productTypeId}, #{shopsign}, #{quantity}, #{qualityGradeNam}, #{confirmDate}, #{machineId}, #{productTypeName}, #{packingTypeId}, #{factoryProductid}, #{unitedPackId}, #{partId}, #{putinWeight}, #{mwrapid}, #{confirmPerson}, #{grossWeight}, #{netWeight}, #{deep}, #{width}, #{length});

    </insert>

    <update id="updatePartPack" parameterType="com.example.demo.entity.ProductInfoMap">
        update "宝钢数据库表"
            set 钢卷号 = #{packid},
                日期 = #{confirmDate},
                时间 = #{asdf},
                母卷号 = #{asdf},
                并包号 = #{asdf},
                捆包卷数 = #{asdf},
                堆垛区 = #{asdf},
                产品外径 = #{asdf},
                产品内径 = #{asdf},
                产品宽度 = #{asdf},
                品名 = #{asdf},
                标准 = #{asdf},
                规格 = #{asdf},
                牌号 = #{asdf},
                毛重增加 = #{asdf},
                件数 = #{asdf},
                炉号 = #{asdf},
                机组 = #{asdf},
                质量等级 = #{asdf},
                收货单位代号 = #{asdf},
                收货单位名称 = #{asdf},
                收货备注 = #{asdf},
                客户零件号 = #{asdf},
                客户零件名称 = #{asdf},
                检查员 = #{asdf},
                净重 = #{asdf},
                捆包号 = #{asdf},
                钢厂资源号 = #{asdf},
                毛重 = #{asdf},
                堆垛托盘号 = #{asdf}




        /*UPDATE productinfo
        SET packId = #{packId},
        spec = #{spec},
        productTypeId = #{productTypeId},
        shopsign = #{shopsign},
        quantity = #{quantity},
        qualityGradeName = #{qualityGradeNam},
        confirmDate = #{confirmDate},
        machineId = #{machineId},
        productTypeName = #{productTypeName},
        packingTypeId = #{packingTypeId},
        factoryProductid = #{factoryProductid},
        unitedPackId = #{unitedPackId},
        putinWeight = #{putinWeight},
        mwrapid = #{mwrapid},
        confirmPerson = #{confirmPerson}
        WHERE partId = #{partId}*/
    </update>

    <select id="queryPartPackList" resultMap="BaseResultMap">
--         select * from productInfo
        select 钢卷号,日期, 时间,母卷号, 并包号, 捆包卷数, 堆垛区, 产品外径, 产品内径, 产品宽度, 品名, 标准, 规格, 牌号, 毛重增加, 件数, 炉号, 机组, 质量等级, 收货单位代号, 收货单位名称, 收货备注, 客户零件号, 客户零件名称, 检查员, 净重, 捆包号, 钢厂资源号, 毛重, 堆垛托盘号 from "宝钢数据库表"
    </select>
</mapper>