<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.dao.PartPackDao">
    <resultMap id="BaseResultMap" type="com.example.demo.entity.ProductInfoMap">
<!--        <result column="id" jdbcType="INTEGER" property="id" />-->
<!--        <result column="钢卷号" property="factoryProductid" />-->
        <result column="日期" property="confirmDate" />
<!--        <result column="时间" property="factoryProductid" />-->
        <result column="母卷号" property="mwrapid" />
        <result column="并包号" property="unitedPackid" />
<!--        <result column="捆包卷数" property="factoryProductid" />-->
<!--        <result column="堆垛区" property="factoryProductid" />-->
        <result column="产品外径" property="outDiameter" />
        <result column="产品内径" property="innerDiameter" />
        <result column="产品宽度" property="outWidth" />
        <result column="品名" property="productTypeName" />
<!--        <result column="标准" property="factoryProductid" />-->
        <result column="规格" property="spec" />
        <result column="牌号" property="shopsign" />
<!--        <result column="毛重增加" property="factoryProductid" />-->
        <result column="件数" property="quantity" />
        <result column="炉号" property="stoveNum" />
        <result column="机组" property="machineId" />
        <result column="质量等级" property="qualityGradeName" />
        <result column="收货单位代号" property="consigneeId" />
        <result column="收货单位名称" property="consigneeName" />
        <result column="收货备注" property="consigneeRemark" />
        <result column="客户零件号" property="partId" />
<!--        <result column="客户零件名称" property="factoryProductid" />-->
        <result column="检查员" property="confirmPerson" />
<!--        <result column="净重" property="factoryProductid" />-->
        <result column="捆包号" property="packId" />
        <result column="钢厂资源号" property="factoryProductid" />
<!--        <result column="堆垛托盘号" property="factoryProductid" />-->
    </resultMap>

    <select id="queryPartPack" parameterType="java.lang.String" resultMap="BaseResultMap">
        select * from productInfo where packId = #{packid}
    </select>

    <insert id="insertPartPack" parameterType="com.example.demo.entity.ProductInfoMap">
        INSERT INTO [dbo].[宝钢数据库表] ([日期],[母卷号],[并包号],[产品外径],[产品内径],[产品宽度],[品名],[规格],[牌号],[件数],[炉号],[机组],[质量等级],[收货单位代号],[收货单位名称],[收货备注],[客户零件号],[检查员],[捆包号],[钢厂资源号])
        VALUES (#{confirmDate},#{mwrapid}, #{unitedPackid},  #{outDiameter}, #{innerDiameter},#{outWidth}, #{productTypeName}, #{spec}, #{shopsign}, #{quantity}, #{stoveNum}, #{machineId},
            #{qualityGradeName}, #{consigneeId}, #{consigneeName}, #{consigneeRemark},#{partId}, #{confirmPerson}, #{packId}, #{factoryProductid})
    </insert>

    <update id="updatePartPack" parameterType="com.example.demo.entity.ProductInfoMap">
        update "宝钢数据库表"
            set
            <!--<if test="packId != null and packId != ''">
                钢卷号 = #{packId},
            </if>-->
        <if test="confirmDate != null and confirmDate != ''">
            日期 = #{confirmDate},
        </if>
<!--        <if test="asdf != null and asdf != ''">-->
<!--            时间 = #{asdf},-->
<!--        </if>-->
        <if test="mwrapid != null and mwrapid != ''">
            母卷号 = #{mwrapid},
        </if>
        <if test="unitedPackid != null and unitedPackid != ''">
            并包号 = #{unitedPackid},
        </if>
        <!--<if test="factoryProductid != null and factoryProductid != ''">
            捆包卷数 = #{factoryProductid},
        </if>
        <if test="packid != null and packid != ''">
            堆垛区 = #{factoryProductid},
        </if>-->
        <if test="outDiameter != null and outDiameter != ''">
            产品外径 = #{outDiameter},
        </if>
        <if test="innerDiameter != null and innerDiameter != ''">
            产品内径 = #{innerDiameter},
        </if>
        <if test="outWidth != null and outWidth != ''">
            产品宽度 = #{outWidth},
        </if>
        <if test="productTypeName != null and productTypeName != ''">
            品名 = #{productTypeName},
        </if>
        <if test="factoryProductid != null and factoryProductid != ''">
            标准 = #{factoryProductid},
        </if>
        <if test="spec != null and spec != ''">
            规格 = #{spec},
        </if>
        <if test="shopsign != null and shopsign != ''">
            牌号 = #{shopsign},
        </if>
<!--        <if test="factoryProductid != null and factoryProductid != ''">-->
<!--            毛重增加 = #{factoryProductid},-->
<!--        </if>-->
        <if test="quantity != null and quantity != ''">
            件数 = #{quantity},
        </if>
        <if test="stoveNum != null and stoveNum != ''">
            炉号 = #{stoveNum},
        </if>
        <if test="machineId != null and machineId != ''">
            机组 = #{machineId},
        </if>
        <if test="qualityGradeName != null and qualityGradeName != ''">
            质量等级 = #{qualityGradeName},
        </if>
        <if test="consigneeId != null and consigneeId != ''">
            收货单位代号 = #{consigneeId},
        </if>
        <if test="consigneeName != null and consigneeName != ''">
            收货单位名称 = #{consigneeName},
        </if>
        <if test="consigneeRemark != null and consigneeRemark != ''">
            收货备注 = #{consigneeRemark},
        </if>
        <if test="partId != null and partId != ''">
            客户零件号 = #{partId},
        </if>
        <if test="confirmPerson != null and confirmPerson != ''">
            检查员 = #{confirmPerson},
        </if>
        <!--<if test="asdf != null and asdf != ''">
            净重 = #{asdf},
        </if>-->
        <if test="factoryProductid != null and factoryProductid != ''">
            钢厂资源号 = #{factoryProductid},
        </if>
       <!-- <if test="asdf != null and asdf != ''">
            毛重 = #{asdf},
        </if>
        <if test="asdf != null and asdf != ''">
            堆垛托盘号 = #{asdf},
        </if>-->
        捆包号 = #{packId}
        where 捆包号 = #{packId}
    </update>

    <select id="queryPartPackList" parameterType="String" resultMap="BaseResultMap">
         select 钢卷号,日期, 时间,母卷号, 并包号, 捆包卷数, 堆垛区, 产品外径, 产品内径, 产品宽度, 品名, 标准, 规格, 牌号, 毛重增加, 件数, 炉号, 机组, 质量等级, 收货单位代号, 收货单位名称, 收货备注, 客户零件号, 客户零件名称, 检查员, 净重, 捆包号, 钢厂资源号, 毛重, 堆垛托盘号 from "宝钢数据库表"
        <if test="packid != null and packid != ''">
        where 捆包号 = #{packid}
        </if>
    </select>
</mapper>